:root {
    --fondo: #1f253f;
    --texto: #e6efff;
    --detalles: #3ec99b;
    --menu: #111421;
}
.roboto{
  
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


body {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background: var(--fondo);
    font-family:"Roboto", sans-serif, system-ui, sans-serif;
}
h1{
    font-family: 'Times New Roman', Times, serif;
}
h2{
    font-family: 'Times New Roman', Times, serif;
}
h3{
    font-family: 'Times New Roman', Times, serif;
}

.contenedor {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 2fr 1fr;
    overflow: hidden;
}

main {
    position: relative;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    min-height: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: var(--texto);
    text-decoration: none;
    width: 100%;
    height: 100%;
    font-size: 0.7rem;
    z-index: 10;
    
}

h2 {
    font-size: 2rem;
}

header a {
    text-decoration: none;
    color: var(--texto);
}



header ul {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    text-decoration: none;
    list-style: none;
    justify-content: space-evenly;
    background: var(--menu);
}

header ul li {
    width: 100%;
    margin: 0;
    padding: 0;
    cursor: pointer;
    z-index: 10;
}

header ul li:hover {
    color: var(--detalles);
    scale: 1.1;
    transition: all 0.4s ease;
}

.icon {
    width: 50px;
    filter: invert(100%);
}

.marlonImg {
    max-width: 30%;
    max-height: 40%;
    min-width: 100px;
    border-radius: 10px;

}

section {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    max-width: 100%;
    opacity: 0;
    max-height: 100%;
    display: none;
    color: var(--texto);


    animation-name: opacidad;
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
}

.Inicio {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
    justify-content: center;
    align-items: center;

}

.Inicio>div {
    position: absolute;
    width: 90vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--detalles);
}


.Inicio>div>p {
    margin-top: 20px;
}

.boton {
    width: 120px;
    height: 70px;
    background: var(--fondo);
    color: var(--texto);
    border-radius: 16px;
    margin-bottom: 90px;
    border: 3px solid var(--detalles);

}

.boton>img {
    width: 70px;
    height: 30px;
    filter: invert(100%);

}



.boton:hover {
    color: var(--fondo);
    background-color: var(--detalles);
    border: 3px solid var(--menu);


}

.Inicio>img {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    opacity: .2;
    z-index: -1;
}

.contactos {
  
    display: none;
    transition-property: display;
    transition-duration: .5s;
    transition-behavior: unset;
    
}


.idioma {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: var(--fondo);
    color: var(--detalles);
    position: absolute;
    top: 15vh;
    left: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1;
    opacity: 0.5;
    text-decoration: none;
    transition: all 0.5s ease;
    border: 2px solid var(--detalles);
}
.idioma::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0vh;
    left: 0vw;
    border-radius: 100%;
    animation-name: pulse;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: 3;
}

.idioma>img {
    width: 50%;
    filter: invert(100%);
    margin: 0px;
    padding: 0px;
}

.idioma>p {
    margin: 0px;
    padding: 0px;
    font-size: 0.7rem;
}

.idioma:hover {
    opacity: 1;
    transition: all 0.5s ease;
    background: var(--detalles);
    color: var(--fondo);
}


.sobreMi>div {
   display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--menu);
  max-width: 80vw;
  max-height: 70vh;
  overflow-y: auto;
  border-radius: 16px;
}

h2 {
    color: var(--texto);
    border-bottom: 3px solid var(--detalles);
    text-align: center;
}


.sobreMi>div>h3{
    text-align: center;
}

.sobreMi>div>p {
    margin: 10px;
   font-size:1rem;
    text-align: justify;
}

h1 {
    border-bottom: 3px solid var(--detalles);
}

.sobreMi>div>img {
    width: 150px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    transition: all 0.2s ease;


}

.sobreMi>div>img:hover {
    scale: 1.06;
    box-shadow: 0 0 5px 5px var(--detalles);
    transition: all 0.6s ease;
}
.contentRerecoFather{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}
.contentpremio{
  background: #1d1d1d1d;
  width: 200px;
  height: 200px;
  display: flex;  
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
  padding: 5px;
}
.contentpremio>div>img{
  max-width: 100%;
  max-height: 100%;
    cursor: pointer;
}

.proyectos{
    width: 80vw;
    max-width: 1850px;
    height: auto;
    background: var(--fondo);
    margin-top: 5px;
    padding: 0px;
    border-radius: 16px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
   
}
.menuProyectos{
    min-width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 5px;
    border-bottom: 3px solid var(--detalles);
}
.menuProyectos>button{
    background: var(--fondo);
    color: var(--texto);
    height: 30px;
    margin: 0px;
    padding: 0px;
    height: 50px;
}
.menuProyectos>button:first-child{
    border-radius: 10px 0px 0px 0px;
    background-color: var(--menu);
}
.menuProyectos>button:last-child{
    border-radius: 0px 10px 0px 0px;
}

.DetallesProyectos {
    position: relative;
    max-width:100%;
    min-width: 100%;
    height: auto;
    max-height: 50vh;
    border-radius: 16px;
    margin: 5px;
    background: var(--menu);
    padding: 3px;
    overflow-y:scroll ;
    z-index: -1;
}
.DetallesProyectos>div{
 display: grid;
 grid-template-columns: 1fr;
 align-items: start;

}
.DetallesProyectos>div>div>img{
    width: 100%;
    
}
.DetallesProyectos>div>div>h3{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;    
}
.DetallesProyectos>div>div>p{
    text-align: justify;
    padding: 10px;
}
.DetallesProyectos>ul{
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-auto-rows: minmax(30px,1fr);
   justify-content: center;
   align-items: center;    
   margin: 0px;
   padding: 0px;
   gap: 5px;
}
.DetallesProyectos>ul>li{
    list-style: none;
    border-radius: 16px;
    border-bottom: 1px solid var(--detalles);
    font-size: 1.2rem;
    text-align: center;
   

}
.DetallesProyectos>a{
   margin-left: 40%;
}
.DetallesProyectos>div>a>img{
    filter: invert(100%);
    cursor: pointer;
    width: 80px;
}
.githubIconProyect{
    max-width: 200px;
}
.DetallesProyectos>div:last-child{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contactos {
    width: 80%;
    height: 90%;
    background: var(--menu);
    border-radius: 16px;
    margin-top: 10px;
    text-align: center;
    padding-bottom: 20px;
    display: none;
    flex-direction: column;
    align-items: center;
    color: var(--texto);
}
.contactos>h2{
    position: absolute;
    top: 0px;
}

.contactos ul {
    position: absolute;
    bottom: 0px;
    min-width: 100%;
    list-style: none;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    padding-left: 0px;
   

}

.contactos ul>li {
    filter: invert(100%);
    margin-bottom: 15px;
}


.contactos img {
    margin: 0px;
    padding: 0px;
    width: 80px;
    transition: all .8s ease;
    max-width: 50px;

}

.contactos img:hover {
    scale: 1.2;
    transition: all .8s ease;

}

.contactos>nav {
    position: absolute;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.contact {
    border-radius: 16px;
    display: flex;
    margin-bottom: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}

input {
    width: 100%;
    background: var(--fondo);
    color: var(--texto);
    border: 3px solid var(--detalles);
    height: 30px;
    outline: none;
}

.formContainer {
    padding: 20px;
    position: absolute;
    left: 5%;
    top: 10%;
    right: 5%;
    
}
.formContainer>div:first-child {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    text-align: start;
}

.formContainer>div:first-child>label:nth-child(2) {
    grid-row: 3 / 4;
}
.formContainer {
    max-width: 1800px;
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    align-self: flex-start;
}

textarea {
    resize: none;
    width: 100%;
    height: 100px;
    margin-top: 10px;
    padding: 3px;
    border: 3px solid var(--detalles);
    background: var(--fondo);
    color: var(--texto);
    outline: none;

}

input[type="submit"] {
    margin-top: 10px;
    width: 100px;
    height: 50px;
    background-color: var(--fondo);
    color: var(--texto);
    font-weight: bold;
    border: 3px solid var(--detalles);
    padding: 10px 15px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background: var(--detalles);
    color: var(--fondo);
    border: 3px solid var(--fondo);
}
.autor{
    color: var(--texto);
    position: absolute;
    bottom: 0px;
}
.recomendaciones{

    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 90%;
    
}

.contentCardReco{
  padding: 10px;
  max-width: 70vw;
  display: flex;
  flex-direction: row;
  gap: 20px;
  overflow-y: hidden;
  overflow-x: scroll;
  background: var(--menu);
  padding: 20px;
  border-radius: 15px;

}
.contentReco{
  max-width: 30vw;
  min-width: 200px;
  overflow-y: auto;
  max-height: 90%;
  padding: 10px;
  border: 3px solid black;
  background-color: var(--fondo);
  color: var(--texto);
  border-radius: 16px;
  
}
.contentReco>div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
}

.contentReco>div>img{
  max-width: 80%;
  border-radius: 16px;
  border: 2px solid var(--texto);
}
.contentReco>div>p{
  padding: 10px;

  border-radius: 16px;
   
}

.imagen_zoom{
    display: flex;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    background-color: var(--fondo);
}
.imagen_zoom>img{
    width: 80%;
    object-fit: contain;
    display: block;
}
.imagen_zoom::after{
  content: "x"; 
  width: 40px;
  height: 30px;
  position: absolute;
  background-color: var(--menu);
  text-align: center;
  border-radius: 100%;
  margin-top: -80%;
  margin-left: 70%;
  align-items: center;
  font-size: 1.5rem;
  color: var(--detalles);
  cursor: pointer;
}




@keyframes pulse {
    0%{
        border: 0px;
        scale: 1.2;
        border-left: 1px solid var(--detalles);
        border-right: 1px solid var(--detalles);
        border-bottom: 0px solid var(--detalles);
        border-top: 0px solid var(--detalles);
    }
    50%{
        border: 0px;
        scale: 1.4;
        border-left: 1px solid var(--detalles);
        border-right: 1px solid var(--detalles);
        border-bottom: 0px solid var(--detalles);
        border-top: 0px solid var(--detalles);
    }
    100%{
        border: 0px;
        scale: 1.2;
        border-left: 1px solid var(--detalles);
        border-right: 1px solid var(--detalles);
        border-bottom: 0px solid var(--detalles);
        border-top: 0px solid var(--detalles);
    }
}
@keyframes opacidad {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}







@media (width>900px) {
    .recomendaciones{

    max-height: none;
    
}
    .contentReco{
    overflow-y: none;
      max-height: none;
    }
    header>ul {
        flex-direction: column;
    }
    .imagen_zoom>img{
    width: 50%;
    }
    .imagen_zoom::after{
     margin-top: -40%;
  margin-left: 55%;
    }

    .sobreMi>div>p {
        margin-left: 80px;
        margin-right: 80px;
        margin-bottom: 45px;

    }

    .contenedor {

        grid-template-columns: 10vw 1fr;
        grid-template-rows: 100vh;
        grid-template-areas:
            "header main"
        ;
    }
   
    

    .Inicio>div>p {

        font-size: 1.4rem;
    }

    .sobreMi>div {
        max-width: 50%;
    }

    .idioma {
        top: 85vh;
         opacity: 0.8;
    }
    .sobreMi>div>p{
      font-size: 1.2rem;
    }
    main {
        grid-row-start: 1;
        grid-row-end: 1;
        grid-column-start: 2;
        grid-column-end: 3;
    }
    .menuProyectos{
        min-width: 70%;
    }
    .DetallesProyectos {
        max-width:70%;
        min-width: 70%;
    }
    .DetallesProyectos>ul{
        grid-template-columns: repeat(3,1fr);
    }
    .DetallesProyectos>div>img{
       max-height: 300px;
        
    }
    .DetallesProyectos>div{
    grid-template-columns: 1fr 1fr;
    }
    .formContainer{
        top: 15%;
      
    }

    .contentRerecoFather{
    grid-template-columns: 1fr 1fr;
}

}