:root {
    --background: #000;
    --blanco: #fff;
    --300: #a1aeff;
    --400: #7e87fb;
    --950: #1e1a4c;
    --700: #4435cd;
}

body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: var(--950);
    color: var(--blanco);

}

header {
    position: absolute;
    border-radius: 16px;
    width: 80vw;
    height: 100px;
    left: 10vw;
    right: 10vw;
    margin-top: 10px;
    font-size: 2rem;
    z-index: 10;
    text-decoration: none;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    justify-items: center;
    border-radius: 16px;
    text-align: center;
    font-size: 10px;
    color: #000000;
    background-color: var(--700);
}

nav ul a {
    color: var(--blanco);
}

nav ul li {
    width: 50px;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.icon {
    width: 50px;
    filter: invert(100%);
}

.idioma {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: lightseagreen;
    color: #fff;
    position: fixed;
    top: 85vh;
    left: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1;
    opacity: 0.5;

}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main aside {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: left;
    padding-top: 50px;
    max-width: 80vw;
    position: relative;
}


main aside img {
    width: 100%;
    min-width: 150px;
    object-fit: contain;
    filter: invert(100%);

}

.contentImg {
    position: relative;
    z-index: 1;

}



.contentImg>div:first-child {
    position: absolute;
    font-size: 20px;
    max-width: 40px;
    max-height: 40px;
    z-index: 1;
    right: 0px;
    bottom: 0px;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    overflow: hidden;

    border-radius: 10px;


}

.contentImg>div:first-child>img {
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

main>aside>div:first-child {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 2fr 2fr;
    text-align: center;
    justify-items: center;
    text-align: center;

}

main aside p {
    max-width: 100%;
    padding: 10px;
}

main>aside>div:nth-child(2)>p {
    text-align: justify;
}

main>aside>div:nth-child(2)>h2 {
    text-align: center;
    font-weight: bold;
}

.my_projects {
    max-width: 100vw;
    margin: 0;
    padding: 0;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.my_projects>h2 {
    text-align: center;
    font-weight: bold;
}

.container {
    position: relative;
    width: 80vw;
    height: 450px;
    border-radius: 16px;
    background: var(--400);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    overflow-x: scroll;

}

.container>div:first-child {
    margin-left: 20px;
}

.container>div:last-child {
    margin-right: 20px;
}

.card {
    position: relative;
    min-height: 90%;
    min-width: 250px;
    transform-style: preserve-3d;
    transition: all .9s ease;
}

.card:hover {
    cursor: pointer;
    transform: rotateY(180deg);
}

.frontCard {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: var(--700);
    color: #fff;
    border-radius: 16px;
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr;

}



.lick_github>img {
    width: 100px;
    height: 100px;
}

.frontCard>img {
    margin-top: 20px;
    width: 100px;
    height: 100px;

}

.backCard>a {
    color: var(--blanco);

}

.icongithub {
    width: 50px;
    margin: 0;
    padding: 0;
}

.frontCard>p {
    margin: 0px;
    padding: 5px;


}

.backCard {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: var(--700);
    color: #fff;
    transform: rotateY(180deg);
    border-radius: 16px;
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr;
}

.backCard>img {
    margin-top: 10px;
    margin-bottom: 0;
    padding: 0;
    width: 100px;
}

.backCard>ul {
    list-style: circle;
    text-decoration: none;
    text-align: left;
    margin: 0;
    padding: 0;
}

.backCard>p {
    text-align: justify;
    margin: 0;
    padding: 5px;

}

.intereses {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.containerInterests article {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    justify-items: center;
    text-align: justify;
    padding: 10px;
    max-width: 80vw;
}

.containerInterests article div p {
    padding-left: 10px;
}

.containerInterests article img {
    width: 80%;
    height: 80%;
    object-fit: contain;
    background: var(--400);
}


footer {
    margin-top: 10px;
    text-align: center;
    max-width: 100vw;
    max-height: 180px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--700);
}

footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-around;

}

footer img {
    width: 80px;
}


@media (width > 700px) {
    nav ul li {
        width: 70px;
    }

    .icon {
        width: 70px;

    }

    .containerInterests article img {
        width: 200px;
    }

    .idioma {
        width: 100px;
        height: 100px;
        font-size: 25px;
        top: 80vh;
    }

}

@media (width > 1000px) {
    main aside {
        margin-top: 0px;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content: center;
    }



    main aside img {
        min-width: 300px;
    }

    main aside>div:first-child {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}